/* Needed for map to fill the page. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

#armiesOverlay{
  position: absolute;
  width: 35px;
  height: 35px;
  text-align:center;
  background-color:white;
  z-index: 1001;
  border-radius: 50%;
  line-height:35px;
  font-size:16px;
}

#timer{
  background: none rgb(255, 255, 255); 
  border: 0px; 
  margin: auto; 
  padding: 10px; 
  position: absolute; 
  top: 10px;
  left: 10px;
  cursor: pointer; 
  user-select: none; 
  border-radius: 2px; 
  height: 40px; 
  width: 150px; 
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; 
  overflow: hidden;
  text-align: center;
  line-height: 40px; 
  font-family:Lucida Console; 
  font-size:32px;
}
