/* Needed for map to fill the page. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

#overlayContainer {
  position: absolute; 
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#armiesOverlay {
  position: absolute;
  width: 35px;
  height: 35px;
  text-align:center;
  background-color:white;
  z-index: 1001;
  border-radius: 50%;
  line-height:35px;
  font-size:16px;
}

.overlayItem {
  background: none rgb(255, 255, 255); 
  border: 0px; 
  padding: 10px; 
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; 
  user-select: none; 
  border-radius: 2px; 
  overflow: hidden;
}

#timer {
  position: absolute; 
  top: 10px;
  left: 10px;
  height: 40px; 
  width: 150px; 
  text-align: center;
  line-height: 40px; 
  font-family:Lucida Console; 
  font-size:32px;
}

#territoryName {
  position: absolute;
  top: 10px;
  left: 0px; 
  right: 0px; 
  margin-left: auto; 
  margin-right: auto; 
  width: 450px; /* Need a specific value to work */
  height: 40px;
  line-height: 40px; 
  font-family:Verdana; 
  text-align: center;
  font-size:32px;
}
